<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
    <!-- ?????? -->
    <appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <!--<file>${log.home}/default/common-default.log</file>-->
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- ===================================================================== -->
    <!-- Loggers                                                               -->
    <!-- ===================================================================== -->
    <logger name="io.fabric8.kubernetes.client.informers.cache.ReflectorRunnable" additivity="true">
        <level value="ERROR"/>
    </logger>
    <!-- ??logger -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <!-- ??jdk?? -->
    <logger name="java" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="DEFAULT-APPENDER"/>
    </root>
</configuration>
